<div class="header" style="background-color: {{ section.settings.background-color }}; color: black;">
    <h1 style="color: {{ section.settings.text-color }}">{{ section.settings.title }}</h1>
</div>


{% schema %}

{
    "name": "Header",
    "settings": [
        {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default": "Custom title"
        },
        {
        "type": "color",
        "label": "Background Color",
        "id": "background-color",
        "default": "#943737",
        },
        {
        "type": "color",
        "label": "Text Color",
        "id": "text-color",
        "default": "#000000",
        }
    ]
}

{% endschema %}
