<div class="header" style="background-color: {{ settings.background-color }}; color: black;">
    <h1 style="color: green">{{ settings.title }}Test Text</h1>
    <ul>
        
    </ul>
</div>


{% schema %}

{
    "name": "Header",
    "settings": [
        {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default": "Custom title"
        },
        {
        "type": "color",
        "label": "Background Color",
        "id": "background-color",
        "default": "#943737",
        }
    ]
}

{% endschema %}
